﻿@model SuccessiveDotNetTest.Models.Merge

@{
    ViewBag.Title = "Schedule Interview Page";
}

<h2>Schedule Interview Page</h2>

@using (Html.BeginForm("ScheduleInterview", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label font-bold"> Candidate List :</label>
            <div class="col-md-4 control-label">
                @Html.DropDownListFor(model => model.candidateModel.Id, Model.CanDdl, "--Empty--", new { @class = "form-control canDDL" })

            </div>
            <label class="col-md-2 control-label font-bold">New Candidate?</label>
            <div class="col-md-1 control-label">
                @Html.CheckBoxFor(model => model.IsNewCandidate, new { @class = "chkboxSameAs" })

            </div>

        </div>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.candidateModel.First_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidateModel.First_Name, new { htmlAttributes = new { @class = "form-control a fn" } })
                @Html.ValidationMessageFor(model => model.candidateModel.First_Name, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.candidateModel.Last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidateModel.Last_Name, new { htmlAttributes = new { @class = "form-control a ln" } })
                @Html.ValidationMessageFor(model => model.candidateModel.Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.candidateModel.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidateModel.Dob, new { htmlAttributes = new { @class = "form-control dpd1 a", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.candidateModel.Dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.candidateModel.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidateModel.Experience, new { htmlAttributes = new { @class = "form-control a ex" } })
                @Html.ValidationMessageFor(model => model.candidateModel.Experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.candidateModel.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.candidateModel.Mobile, new { htmlAttributes = new { @class = "form-control a m" } })
                @Html.ValidationMessageFor(model => model.candidateModel.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control a em" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.interviewModel.Date, htmlAttributes: new { @class = "control-label col-md-2", @readonly = "readonly" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interviewModel.Date, new { htmlAttributes = new { @class = "form-control dpd2 a" } })
                @Html.ValidationMessageFor(model => model.interviewModel.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.interviewModel.Time_From, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interviewModel.Time_From, new { htmlAttributes = new { @class = "form-control tp a" } })
                @Html.ValidationMessageFor(model => model.interviewModel.Time_From, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.interviewModel.Time_To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interviewModel.Time_To, new { htmlAttributes = new { @class = "form-control tp a" } })
                @Html.ValidationMessageFor(model => model.interviewModel.Time_To, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.interviewModel.Interviewer_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interviewModel.Interviewer_Name, new { htmlAttributes = new { @class = "form-control a" } })
                @Html.ValidationMessageFor(model => model.interviewModel.Interviewer_Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-danger">@Html.ActionLink("Cancel", "ScheduledInterviewDetails", "Home")</button>
                <input type="submit" value="Submit" class="btn btn-primary" />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ScheduledInterviewDetails")
</div>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
@section Scripts {


    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dpd1').datepicker({
                dateFormat: "dd/mm/yy",
                yearRange: "-100:+0",
                maxDate: new Date()
            });
            $('.dpd2').datepicker({
                dateFormat: "dd/mm/yy",
                yearRange: "-1:+0",
                minDate: new Date()
            });

            $('.tp').timepicker({
                timeFormat: 'hh p',
                interval: 60,
                minTime: '08 am',
                maxTime: '10 pm',
                startTime: '08:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true

            });
            $(".chkboxSameAs").change(function () {
                var ischecked = $('.chkboxSameAs').is(':checked');
                if (ischecked == true) {
                    $('.canDDL').attr('disabled', true);
                    $('.a').prop("disabled", false);
                }
                else {
                    $('.canDDL').prop("disabled", false);
                    $('.a').attr('disabled', true);
                }
               
            });
            $(".canDDL").change(function () {
                var id = $(".canDDL").val();

                $.ajax({
                    url: '/Home/ScheduleInterview1',
                    cache: false,
                    // type: 'post',
                    data: { ID: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (result) {

                        $(".fn").val(result[0].First_Name);
                        $(".ln").val(result[0].Last_Name);
                        $(".em").val(result[0].Email);
                        $(".m").val(result[0].Mobile);
                        $(".ex").val(result[0].Experience);




                    },
                });
            });



        });
    </script>
}

