﻿@model SuccessiveDotNetTest.Models.Merge
@{
    ViewBag.Title = "ScheduledInterviewDetails";
}


<h2>Scheduled Interview Details</h2>

<div>
    <hr />
    <button>@Html.ActionLink("Schedule Interview", "ScheduleInterview", "Home")</button>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Experience</th>
            <th>Email</th>
            <th>Scheduled date</th>
            <th>Time From - Till</th>

        </tr>
        @foreach (var item in Model.CandidatesList)
        {
            if (Convert.ToInt32(item.Experience) >= 12)
            {
                int exp = Convert.ToInt32(item.Experience);
                int years = (exp / 12); //22/12=1
                int months = (exp % 12);//22%12=10

                string s = Convert.ToString(years);
                string sa = String.Concat(years, "years");
                string c = Convert.ToString(months);
                string con = string.Concat(months, "months");
                string exp1 = string.Concat(sa, con);
                item.Experience = exp1;
            }
            else {
                item.Experience = string.Concat(item.Experience,"months");
            }




            <tr>
                <td>@item.First_Name&nbsp;@item.Last_Name</td>
                <td>@item.Experience</td>
                <td>@item.Email</td>
                <td>@item.Date</td>
                <td>@item.Time_From - @item.Time_To</td>

            </tr>
        }
    </table>

</div>

